

.usermessage_container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 12vw;
}

.user_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 40px;
   height: 40px;
   background-color: #575867;
}

.user_message{
      color: whitesmoke;
      font-size: 18px;
}

.chatgptmessage_container{
    padding: 20px 12vw;
    background-color: #444654;
    display: flex;
    align-items: center;
    gap: 20px;
}

.chatgpt_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:#19c37d ;
}

.chatgpt_message{
     color: whitesmoke;
     font-size: 18px;
}